<div class="displayMenuLateral">
    <img class="imgLogoClick" src="../../assets/icon-clickmedicina.svg" alt="">

    <a (click)="upgrade()" class="active" id="home" matTooltip="home" matTooltipPosition="right"
        matTooltipClass="tooltipClass">
        <i class="fa fa-home"></i>
    </a>

    <a (click)="upgrade()" id="calendario" matTooltip="Calendário" matTooltipPosition="right"
        matTooltipClass="tooltipClass">
        <i class="fa fa-calendar-o"></i>
    </a>

    <a (click)="upgrade()" id="parceiros" matTooltip="Parceiros" matTooltipPosition="right"
        matTooltipClass="tooltipClass">
        <i class="fa fa-users"></i>
    </a>

    <a (click)="upgrade()" id="perfil" matTooltip="perfil" matTooltipPosition="right" matTooltipClass="tooltipClass">
        <i class="fa fa-user-circle-o"></i>
    </a>
</div>