<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="agendamentos" (click)="upgrade()">
      <ion-icon name="calendar-clear-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="parceiros" class="iconParceiros" (click)="upgrade()">
      <ion-icon name="people-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="home" class="active">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notificacoes" (click)="upgrade()">
      <ion-icon name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="perfil" (click)="upgrade()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>