<div class="displayMenuMobile">
    <img class="imgLogoClick" src="../../assets/logo-horizontal-clickmedicina.svg" alt="">

    <a id="menuHamburguer" (click)="subMenu()">
        <span class="	fa fa-reorder"></span>
    </a>
</div>

<div class="submenu" *ngIf="varSubmenu" >
    <a class="active" id="home" (click)="upgrade()">
        <i class="fa fa-home"></i> 
        <p>Home</p>
    </a>

    <a id="calendario" (click)="upgrade()">
        <i class="fa fa-calendar-o"></i>
        <p>Calendário</p>
    </a>

    <a id="parceiros" (click)="upgrade()">
        <i class="fa fa-users"></i>
        <p>Parceiros</p>
    </a>

    <a id="perfil" (click)="upgrade()">
        <i class="fa fa-user-circle-o"></i>
        <p>Perfil</p>
    </a>
</div>